CompileFlags:
  Add: [-Wall, -Wextra, -Werror, --std=c++98, -pedantic-errors, --language=c++]
  Compiler: c++

Diagnostics:
  ClangTidy:
    Add:
      [
        "bugprone-*",
        "clang-analyzer-*",
        "cppcoreguidelines-*",
        "misc-*",
        "performance-*",
        "readability-*",
      ]
    Remove:
      [
        bugprone-easily-swappable-parameters,
        cppcoreguidelines-avoid-magic-numbers,
        misc-non-private-member-variables-in-classes,
        misc-use-anonymous-namespace,
        readability-identifier-length,
      ]
    CheckOptions:
      readability-magic-numbers.IgnoredIntegerValues: "1;2;3;4;10"
      readability-magic-numbers.IgnorePowersOf2IntegerValues: Yes
      readability-magic-numbers.IgnoredFloatingPointValues: "0.1"
    FastCheckFilter: None
  MissingIncludes: Strict

InlayHints:
  BlockEnd: No
  Designators: Yes
  Enabled: Yes
  ParameterNames: Yes
  DeducedTypes: Yes
