CompileFlags:
  Add:
    [
      -Wall,
      -Wextra,
      -Werror,
      -Wpedantic,
      -Wshadow,
      -Wdocumentation,
      -std=c++98,
      --language=c++,
      -ftemplate-depth=100,
    ]
  Compiler: c++

Diagnostics:
  ClangTidy:
    FastCheckFilter: None
  MissingIncludes: Strict

InlayHints:
  BlockEnd: No
  Designators: Yes
  Enabled: Yes
  ParameterNames: Yes
  DeducedTypes: Yes
